<div fxFill>
  <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFill>
    <div fxFlex="80" style="background-color: rgb(234, 226, 183); padding: 10px;">
      <mat-list fxFill>


      </mat-list>
    </div>
    <div fxFlex="20" style="background-color: rgb(247, 127, 0); padding: 10px;" fxLayout="row"
      fxLayoutAlign="space-around center">

      <mat-form-field fxFlex="20">
        <input matInput placeholder="Nickname">
      </mat-form-field>
      <mat-form-field fxFlex="60">
        <input matInput placeholder="Message">
      </mat-form-field>

      <button mat-button color="dark">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>